fastapi
uvicorn[standard]

transformers==4.41.2
torch
sentence-transformers
scikit-learn
spacy
nltk
keybert
textstat

language-tool-python
sumy
yake
rake-nltk

numpy
pandas
scipy

beautifulsoup4
requests
lxml

python-multipart
pydantic

accelerate
sentencepiece

deep-translator
langdetect

matplotlib
wordcloud

python-dotenv

ddgs