fastapi
uvicorn[standard]

transformers==4.41.2
torch==2.3.1
sentence-transformers==2.7.0

scikit-learn
spacy==3.7.5
nltk
keybert
textstat

language-tool-python
sumy
yake
rake-nltk

numpy

requests

python-multipart
pydantic

accelerate
sentencepiece

deep-translator
langdetect

python-dotenv

ddgs